.navbar {
  background-color: #000000;
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
  
  
.navbar li {
  display: inline;
}
  
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 14px 20px;
}
  
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 414px) {
  .navbar {
    flex-direction: column;
      align-items: center;
    }
  
  .navbar a {
    padding: 10px;
  }
}
  
