.navbar {
  background-color: #141414;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.my_name {
  color: rgb(1, 240, 248);
}

.nav-link {
  color: rgb(240, 240, 240);
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.4s ease;
}
  
.nav-link:hover {
  background-color: #ffffff;
  color: #020202;
}
  

.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
  
@media (max-width: 414px) {
  .navbar {
    flex-direction: column;
  }
  
  .nav-link {
    padding: 10px;
    text-align: center;
  }
}
